# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env
*.env

# Flask-migrate files
migrations/versions/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# IDE settings
.vscode/
.idea/

# Logs
*.log
